@media (max-width: 1600px) {
    .w-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .fs-22 {
        font-size: 20px;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
@media (max-width: 1366px) {
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
// max width 1280px
@media (max-width: 80em) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    .section-primary {
        &-top {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .article {
                &:first-child {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
                &:nth-child(2) {
                    grid-column: 3 / 5;
                    grid-row: 1 / 2;
                    .image-wrapper {
                        padding-bottom: 46%;
                    }
                    .article__content {
                        padding: 15px;
                    }
                }
                &:nth-child(3) .image-wrapper,
                &:nth-child(4) .image-wrapper {
                    padding-bottom: 100%;
                }
                &:nth-child(3) .article__content,
                &:nth-child(4) .article__content {
                    padding: 10px;
                }
            }
        }
        &-bot {
            &__inner {
                max-width: 100%;
                .swiper-button-next,
                .swiper-button-prev {
                    width: 40px;
                    height: 40px;
                }
                .swiper-button-next,
                .swiper-rtl .swiper-button-prev {
                    top: -30px;
                    right: 0;
                    left: auto;
                }
                .swiper-button-prev,
                .swiper-rtl .swiper-button-next {
                    left: auto;
                    right: 70px;
                    top: -30px;
                }
                .article__img {
                    width: 100px;
                }
            }
        }
    }
    .section-secondary {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-tertiary {
        &-content {
            display: block;
        }
        &__large {
            max-width: 100%;
            .swiper-horizontal > .swiper-pagination-bullets,
            .swiper-pagination-bullets.swiper-pagination-horizontal,
            .swiper-pagination-custom,
            .swiper-pagination-fraction {
                bottom: -28px;
            }
        }
        &__small {
            width: 100%;
            margin-top: 40px;
            .swiper {
                height: auto;
            }
        }
    }

    .section-quaternary {
        &__left-bot {
            gap: 20px;
        }
        &__left-small {
            gap: 20px;
            .image-wrapper-full {
                border-radius: 8px;
                overflow: hidden;
            }
        }
    }
    .section-quinary {
        &__left {
            .image-wrapper {
                padding-bottom: 112%;
            }
        }
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}

// max width 1024px
@media (max-width: 64em) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}

// max width 976px
@media (max-width: 61em) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    .section-quaternary {
        padding-top: 50px;
        padding-bottom: 50px;
        &-container {
            flex-direction: column;
            gap: 40px;
        }
        &__right {
            max-width: 100%;
        }
    }
    .section-video {
        &-content {
            flex-direction: column;
            gap: 40px;
        }
        .video-large {
            width: 100%;
        }
    }
    .section-quinary {
        padding-top: 50px;
        padding-bottom: 50px;
        &-container {
            flex-direction: column;
            gap: 40px;
        }
        &__left {
            .image-wrapper {
                padding-bottom: 80%;
            }
        }
        &__right {
            max-width: 100%;
            .article {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &__left {
            width: 100%;
            grid-column: 1/2;
        }
        &__center {
            width: 100%;
            grid-column: 2/3;
        }
        &__right {
            width: 100%;
            grid-column: 1/3;
        }
    }
}

// max width 640px
@media (max-width: 40em) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .w-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    .heading-line {
        display: none;
    }
    .heading-primary {
        font-size: 24px;
    }
    .section-primary {
        &-top {
            grid-template-columns: 1fr;
            .article {
                &:first-child {
                    grid-column: unset;
                    grid-row: unset;
                    .image-wrapper {
                        padding-bottom: 60%;
                    }
                }
                &:nth-child(2) {
                    grid-column: unset;
                    grid-row: unset;
                    .image-wrapper {
                        padding-bottom: 60%;
                    }
                }
                &:nth-child(3) .image-wrapper,
                &:nth-child(4) .image-wrapper {
                    padding-bottom: 60%;
                }
            }
            .article__content {
                position: relative;
                background-color: #fbf8f5;
                background-image: none;
                padding: 15px;
                .article__title {
                    color: #000;
                }
                .article__public {
                    display: none;
                }
            }
        }
    }
    .section-secondary {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-tertiary {
        padding-top: 30px;
        padding-bottom: 60px;
        .article__content {
            position: relative;
            background-color: #fbf8f5;
            background-image: none;
            padding: 15px;
            .article__title {
                color: #000;
            }
            .article__public {
                display: none;
            }
        }
        &__small {
            display: none;
        }
    }
    .section-quaternary {
        &__left {
            .article__content {
                position: relative;
                background-color: #fbf8f5;
                background-image: none;
                padding: 15px;
                .article__title {
                    color: #000;
                }
                .article__public {
                    display: none;
                }
            }
            &-bot {
                flex-direction: column;
            }
            &-large {
                width: 100%;
                .image-wrapper-full {
                    padding-bottom: 60%;
                }
            }
        }
    }
    .section-quinary {
        &__left {
            .article {
                display: block;
            }
            .article__img {
                width: 100%;
            }
            .image-wrapper {
                padding-bottom: 60%;
            }
        }
    }
    .section-partner {
        .swiper-button-next,
        .swiper-button-prev {
            top: 82%;
        }
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
    .footer-top {
        &__left {
            grid-column: 1 / 3;
        }
        &__center {
            grid-column: 1 / 3;
        }
    }
    .footer-bot {
        text-align: center;
    }
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
@media (max-width: 20em) {
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
